<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.order.mapper.CategoryMapper">

    <insert id="insert" parameterType="com.atguigu.order.bean.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name) VALUES (#{name})
    </insert>

    <update id="update" parameterType="com.atguigu.order.bean.Category">
        UPDATE category SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.atguigu.order.bean.Category">
        SELECT id, name FROM category WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.atguigu.order.bean.Category">
        SELECT id, name FROM category ORDER BY id
    </select>

</mapper>
